{% include 'navbar.html' %}
    <div class="container">
        <main>
            <div class="row " >
                <div class="col-12">
                    <h1 class="mt-4 text-center mb-4">About Us: </h1>
                </div>
            </div>






            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 align-self-center">
                    <h2 class="featurette-heading">Our College Journey and First Web Build Project<span
                            class="text-muted">It’ll blow your mind.</span></h2>
                    <p class="lead">Hello, and welcome to our website! We're Datta Ankushrao and Rutuja Kadam, and we're
                        thrilled to have you
                        here.</p>
                </div>
                <div class="col-md-5">
                   
                    <img src="/static/photos/about/a1.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2 align-self-center">
                    <h2 class="featurette-heading">Our Story: </h2>
                    <p>Our journey began in college, where we met and quickly discovered that we shared not only a
                        passion for
                        learning but also a knack for turning ideas into reality. The bond of friendship that developed
                        during
                        our college days has been the driving force behind everything we've achieved, including this
                        very
                        website.</p>
                </div>
                <div class="col-md-5 order-md-1">
                  <img src="/static/photos/about/a2.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="">

                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette ">
                <div class="col-md-7 align-self-center">
                    <h2 class="featurette-heading">College Adventures:</h2>
                    <p>College life is a whirlwind of classes, assignments, and new experiences. Throughout our time on
                        campus,
                        we've learned, grown, and built lasting memories. We've embraced challenges, celebrated
                        successes, and
                        navigated the highs and lows of academia together.</p>
                </div>
                <div class="col-md-5">
                    <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/static/photos/about/a3.jpg" alt="">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2 align-self-center">
                    <h2 class="featurette-heading">The Birth of an Idea:</h2>
                    <p>Our first web project was born from a shared desire to put our skills to the test and leave our
                        mark on
                        the digital landscape. We brainstormed, designed, and developed this website from the ground up.
                        It
                        became our canvas for creative expression, technical exploration, and a platform to showcase our
                        collective expertise.</p>
                </div>
                <div class="col-md-5 order-md-1">
                   <img src="/static/photos/about/a4.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="">

                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette ">
                <div class="col-md-7 align-self-center">
                    <h2 class="featurette-heading">Why This Project Matters:</h2>
                    <p>This website isn't just a project; it's a testament to our shared vision and ambition. It's a
                        reflection
                        of the passion we have for collaboration, problem-solving, and innovation. As friends and partners,
                        we
                        believe in the power of combining our unique skills to create something greater than the sum of its
                        parts.</p>
                </div>
                <div class="col-md-5">
                    <img src="/static/photos/about/a6.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette ">
                <div class="col-md-7 order-md-2 align-self-center">
                    <h2 class="featurette-heading">Our Shared Values:</h2>
                    <p>As we embarked on this web build project, we brought with us the values that have guided us
                        throughout
                        our college journey: dedication, determination, and a commitment to continuous growth. We firmly
                        believe
                        in the potential of teamwork and are proud of our diverse backgrounds and perspectives.</p>
                </div>
                <div class="col-md-5 order-md-1">
                  <img src="/static/photos/about/a3.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette ">
                <div class="col-md-7 align-self-center">
                    <h2 class="featurette-heading">Join Us on This Journey: </span></h2>
                   <p>We're delighted to have you here, and we invite you to explore our website, discover our projects,
                    and
                    connect with us. We're always eager to hear from our visitors, so please don't hesitate to reach out
                    and
                    share your thoughts.
                    <br>
                    Thank you for joining us on this incredible journey. Together, we're turning dreams into reality,
                    one
                    project at a time.
                    <br>
                    Warm regards,
                    <br>

                    Datta and Rutuja</p>
                </div>
                <div class="col-md-5">
                  <img src="/static/photos/about/a4.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="">
                </div>
            </div>

            <hr class="featurette-divider">

        

    </div>

{% include 'footer.html' %}